@page "/Nombres"

@inject NombresBLL nombresBLL;

<EditForm Model="lista">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Consulta de Personas</h3>
        </div>
        <div class="card-body">
            <form>
                <select class="form-control col-2" @bind="Filtro">
                    <option value="1">NombreId</option>
                    <option value="2">Descripcion</option>
                </select>
                <div class="flex-fill mx-2">
                    <label>Criterio</label>
                    <input type="text" class="form-control" @bind="Criterio" />
                </div>
                <button type="button" class="btn btn-warning" @onclick="Buscar">
                    <i class="oi oi-magnifying-glass mr-2" /> Buscar
                </button>
            </form>
        </div>

        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>NombreId</th>
                    <th>Descripcion</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var nombre in lista)
                {
                    <tr>
                        <td>@nombre.NombreId</td>
                        <td>@nombre.Descripcion</td>
                        <td>@nombre.Salario</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>



@code {
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public List<Nombres> lista { get; set; } = new List<Nombres>();

    private void Buscar()
    {

        lista = nombresBLL.GetNombres();

    }
}